@use "../../styles/mixins" as *;

.user {
  padding: 40px;
  background-color: var(--semi-background-color);
  border-radius: 13px;
  display: flex;
  gap: 30px;
  animation: fade-in 500ms ease-out;

  @include for-phone-only {
    padding: 30px 24px;
  }

  &__avatar {
    @include for-tablet-down {
      display: none;
    }
  }
}
