@use "../../styles/mixins" as *;

[data-theme="dark"] .search {
  box-shadow: unset;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--semi-background-color);
  border-radius: 13px;
  padding-inline: 32px 10px;
  padding-block: 12.5px;
  box-shadow: 0px 4px 9px 0px #d2e2fc;

  @include for-phone-only {
    padding-inline: 16.5px 7px;
    padding-block: 6px;
  }

  &__icon-and-input {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 70%;

    @include for-phone-only {
      gap: 10px;
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__input {
    all: unset;
    background-color: var(--semi-background-color);
    color: var(--h1);
    width: 100%;
    transition: background-color 250ms ease-out !important;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;

    &::placeholder {
      color: var(--text-color-2);
    }

    &:focus {
      cursor: text;
    }

    @include for-phone-only {
      font-size: 13px;
    }
  }

  &__button {
    all: unset;
    text-transform: capitalize;
    background-color: var(--blue-primary);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 250ms ease-out;

    &:hover {
      background-color: var(--search-button-hover);
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }

    @include for-phone-only {
      padding: 11px 13px;
    }
  }

  &__no-results {
    font-weight: bold;
    color: var(--error-color);
    padding-inline-start: 10px;
    animation: fade-in 250ms ease-out;
    font-size: 15px;

    @include for-phone-only {
      font-size: 10px;
    }
  }

  &__button-and-no-results {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
